.logo {
  width: 16rem;
}

.nav a.nav-link {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.0300rem;
  cursor: pointer;
}

.nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a{
margin-right: 0.8rem;
margin-left: 0.8rem;
}

.navbar-brand {
  max-width: 17rem;
}

.navber-nav > li > a.active, .navbar-nav > li > a:focus {
  border-bottom: 0.18rem solid var
}
