:root {
  --primary: rgb(167, 54, 54);
  --secondary: rgb(230, 190, 62); /*I never got around to using the other two colors...feels bad man*/
  --tertiary:  rgb(47, 150, 209);
  --light:  rgb(62, 68, 71);
  --dark: rgb(29, 31, 32);
}

.logo {
  width: 16rem;
}

.nav a.nav-link {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.0300rem;
  cursor: pointer;
}

.nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a{
margin-right: 0.8rem;
margin-left: 0.8rem;
}

.navbar-brand {
  max-width: 17rem;
}



.navbar-nav > li > a:hover {
background-color: var(--primary);
}